<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <!-- MySQL 数据库配置 -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/test</property>
        <property name="connection.username">liucw1</property>
        <property name="connection.password">woailo99</property>
        
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">5</property>
        
        <property name="connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
    	<property name="c3p0.min_size">50</property>
	    <property name="c3p0.max_size">800</property>
	    <property name="c3p0.max_statements">50</property>
	    <property name="c3p0.timeout">300</property>
	    <property name="c3p0.idle_test_period">3000</property>
	    <property name="c3p0.testConnectionOnCheckout">true</property>
        
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- 启用二级缓存，并使用EHCache作为缓存提供方 -->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        
        <!-- 指定Hibernate每次提交SQL的数量 -->
        <property name="hibernate.jdbc.batch_size">20</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <mapping resource="v3/model/User.hbm.xml"/>
    </session-factory>
</hibernate-configuration>